@import "~antd/dist/antd.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Alkanz";
    src: url("/fonts/Al-Kanz_0.ttf");
  }
}

.zero-card-padding .ant-card-body {
  padding: 0;
}

.flex-card .ant-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}